<div class="status-bar">
<div class="step <%= wizard_steps.index(step) == 0 ? 'active' : '' %>">Vehicle Details</div>
<div class="step <%= wizard_steps.index(step) == 1 ? 'active' : '' %>">Contact Details</div>
<div class="step <%= wizard_steps.index(step) == 2 ? 'active' : '' %>">Vehicle Images</div>
</div>